<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="header">
      <h1>Otto Normalverbraucher</h1>
    </div>
    <div id="nav">
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </div>
    <div id="content">
      <img id="otto" src="/ON.jpg"></img>
      <section id="quote"><p>"I'd rather have a bottle in front of me <br> than a frontal lobotomy"</p>
      </section>
    </div>
  </body>
</html>
